<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--默认模块名称-->
    <add key="DefaultModuleName" value="Platforms"/>
     <!--实体类模板文件路径-->
    <add key="EntityTemplatePath" value="/Templates/EntityTemplate.tt"/>
  </appSettings>
</configuration>